body {
  background-color: blanchedalmond;
  color: #224;
  font-family: Roboto, sans-serif;
  text-align: center;
}

button {
  border: 1px solid cornflowerblue;
  border-radius: 0;
  box-shadow: 1px 1px 4px #224;
  margin: 4px 4px;
  padding: 4px 0;
  transition: 0.5s;
  width: 100%;
}

button:hover {
  box-shadow: 2px 2px 4px #446;
}

button.assigning {
  border: 3px solid red;
}

select   {
  border: 1px solid cornflowerblue;
  border-radius: 0;
  box-shadow: 1px 1px 4px #224;
  margin: 8px 4px;
  padding: 4px 6px;
  transition: 0.5s;
  width: 100%;
}

.container {
  border: 1px solid sienna;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.container-v {
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
}

.container-v h1 {
  padding: 0;
  margin: 0;
  text-align: left;
}

.panel {
  align-items: center;
  background-color: aliceblue;
  border: 1px solid cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px;
  padding: 5px 10px;
}

.counter {
  min-width: 100px;
}

.counter > .quantity {
  color: cornflowerblue;
  font-size: 2em;
  text-shadow: 1px 1px 0 #224;
}

.debug {
  background-color: rgba(255,200,200,0.6);
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 400px;
  display: flex;
  /* flex-direction: row; */
}

.debug.closed {
  background-color: firebrick;
  height: 20px;
  transition: 0.5s;
  width: 20px;
}

.debug .toggle {
  display: inline;
  margin-left: auto;
  margin-right: 3px;
  margin-top: 0;
}

.description {
  font-size: 0.6em;
  min-width: 100%;
  width: 0;
}

.label {
  font-size: 1em;
}

.price {
  color: cornflowerblue;
  margin: 3px;
  text-shadow: 1px 1px 0 #224;
}

.shop-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.inactive {
  /* border: 0 solid #666; */
  /* box-shadow: 0 0 0 black; */
  color: #99B;
  opacity: 0.5;
  transition: 0.5s;
}
